html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

body {
  background-color: #F7F8E0
}

h1 {
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 900px;
	margin-top: auto;
	margin-bottom: auto;
  }

  .container {
      width: 100%;
      margin: 0 auto;
    }

    .header {
	background-color: #000000;
	width: 100%;
	margin: 0 auto;
      }

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 95%; max-width: 900px;
    }

P {
  margin-left: auto;
  margin-right: auto;
  width: 95%; max-width: 900px;
  line-height: 170%;
  }

  IMG.displayed {
      /*
      display: block;

      margin: 0 auto;
      width: 1500px;
      */
      width: 100%;
      height: auto;
    }

li {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  }

.container {
