html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

body {
  background-color: #F7F8E0
}

h1 {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 900px
  }

  .container {
      background-color: #0B3861
      width: 100%;
      margin: 0 auto;
    }

h2 {
    margin-left: auto;
    margin-right: auto;
    width: 900px
    }

P {
  margin-left: auto;
  margin-right: auto;
  width: 900px
  }

li {
  margin-left: auto;
  margin-right: auto;
  width: 900px
  }

.container {
